.header {
  background-color: #f8f9fa;
  padding: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.nav-link {
  color: #1e90ff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
