.todo-card {
    margin-top: 0.8rem;   
}

.btn-primary {
    margin-left: 0.5rem;
    background-color: #0984e3;
    border: #0984e3;
}

.btn-danger {
    background-color: #eb4d4b;
    border: #eb4d4b;
}