<div class="container-fluid">
    <div class="signup-card">
      <h2>Signup</h2>
  
      <form (submit)="signup(signupForm)" #signupForm="ngForm">
        <div class="form-group">
          <label>Email:</label>
          <input type="email" [(ngModel)]="email" name="email" class="form-control" required email>
          <div *ngIf="signupForm.controls['email']?.invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched || signupForm.submitted)" class="text-danger">
            <span *ngIf="signupForm.controls['email'].errors">Valid Email is required</span>
          </div>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control" required minlength="8">
          <div *ngIf="signupForm.controls['password']?.invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched || signupForm.submitted)" class="text-danger">
            <span *ngIf="signupForm.controls['password'].errors">Password is required and must be at least 8 characters long</span>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Signup</button>
          <a class="btn btn-link" routerLink="/login">Login</a>
        </div>
        <div *ngIf="signupError" class="text-danger">
          Signup failed. Please check your credentials.
        </div>
      </form>
    </div>
  </div>
  